<% provide(:title, "Login") %>
<div class="login-form well">
  <h3>Please enter your login information</h1>
  </br>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :Email, required: true, autofocus: true %>
    <%= f.input :Hash, label: "Password", required: true %>
    <%= f.button :submit, class: "button expand" %>
  <% end %>
</div>
