@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-overrides";
@import "font-awesome";

.navbar-default {
  background-color: #222;
  height: 70px;
}

.navbar-brand {
  padding: 10px;
}

.landing-page-banner {
  width: 1440px;
  height: auto;
  right: 0px;
  position: absolute;
  top: 70px;
  left: 0px;
}

.background-image{
  position: relative;
  width: 1440px;
  height: 810px;
}

.facility-form{
    height: 200px;
    overflow: scroll;
    border:1px solid black;
}

.availability-select{
  display: inline;
}
